* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 99.375rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 30px;
}

.App {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
  width: 100%;
  border: 1px solid teal;
  text-align: center;
}

p, 
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}