* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 99.375rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 30px;
}

.App {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}